<div class="e-control e-accordion e-acrdn-root e-keyboard">
  <div class="e-acrdn-item e-select e-expand-state" [ngClass]="{'e-selected': expanded }">
    <div #ripple class="e-acrdn-header" (click)="onHeaderClick()">
      <div class="e-acrdn-header-content">{{header}}</div>
      <div class="e-toggle-icon">
        <span class="e-tgl-collapse-icon e-icons" [ngClass]="{'e-expand-icon': expanded }"></span>
      </div>
      <div class="accordion-content d-flex flex-column">
        <ng-content select="[accordion-content]"></ng-content>
      </div>
    </div>
    <div class="e-acrdn-panel" [ngClass]="{'e-content-hide': !expanded }">
      <div class="e-acrdn-content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
