@import '../../colour-palette.scss';
@import '../../dimensions.scss';

$text-color: $light-text;
$font-size: 24px;

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: $header-height;
    color: $text-color;
    background-color: $color-primary-dark2;
    font-weight: 400;
    font-style: normal;
    font-size: $font-size;
    width: 100%;

    @include screen-size-and-smaller(sm) {
      left: $menu-width;
    }

    @include screen-size-and-larger(md) {
      z-index: 1000;
    }

    > div {
        padding: 10px 0px 10px 0px;
    }
}
