.e-tbar-btn-text {
    display: none !important;
}
.e-grid .e-add::before, .e-grid-menu .e-add::before {
    content: "\f055" !important;
    font-family: fontawesome;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #53B2E2;
    text-align: left;
    margin-left: 15px !important;
}
.e-toolbar .e-toolbar-items .e-toolbar-item:not(.e-separator){min-width: 20px !important;}
.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
     margin-left: 0px !important; 
}
.e-toolbar .e-tbar-btn:hover, .e-toolbar .e-tbar-btn:focus{
	background: transparent !important;
}