.header{
	background-color: rgba(39, 65, 86, 1);
	height: 60px;
	position: fixed;
    z-index: 9;
}
.header-content {
    height: 100%;
	font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
}
.header-content>div {
	padding: 10px 0px 10px 0px;
}
.header-content .image {
	width: 53px;
	display: inline-block;
}
.header-content i{color: #ffffff; margin-top: 10px;}
.header-menu {
    margin-top: -60px;
    height: 60px;
}
.header-menu ul{
	background-color: transparent !important;
	border: 0px !important;
	float: right;
}
.header-menu ul li{
	border: 0px !important;
    float: right;
    text-align: center !important;
    height: 52px;
    margin-top: -10px !important;
    width: 60px;
    padding-top: 20px !important;
}
.header-menu span.e-arrowhead-down:before{content:"" !important;}
.header-menu .e-menu.e-horizontal>.e-list a.e-arrow-space{padding-right: 0px !important;}
/*.header-menu .e-menu.e-horizontal .e-list:hover, .e-menu.e-vertical .e-list:hover, .e-menu.e-context .e-list:hover{background: #ffffff !important;}*/

.header-content ul>li>ul>li {
    margin-top: 10px;
    height: 32px;
    padding: 8px 10px 0px 10px !important;
    width: unset;
    margin-bottom: 5px !important;
}
.e-menu.e-horizontal li.header-item.e-list:hover{
	background: rgba(83, 178, 226, 1) !important
}
.header-content .e-menu.e-context .e-list:hover{background: rgba(46, 94, 134, 1) !important;}
.header-content ul>li>ul>li:hover {
	border-radius: 5px;
	width: 215px !important;
}
.header-content ul>li>ul>li:focus {outline: 0px !important; background: rgba(83, 178, 226, 1) !important;}
.header-content ul>li>ul {
	box-shadow: 5px 5px 5px #666;
    width: 392px;
    float: left;
    text-align: left;
    margin-left: -5px !important;
    background: rgba(83, 178, 226, 1) !important;
    border-radius: 0;
    padding: 15px !important;
}
.header-content ul>li>ul>li>a{
	font-size: 16px !important;
    color: #fff !important;
    text-align: left;
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    height: 40px !important;
    width: 215px !important;
}
.header-content ul>li>ul>li>a:hover, .header-content ul>li>ul>li>a:focus{
	background: rgba(46, 94, 134, 1) !important;
    text-decoration: none !important;
    border-radius: 5px;
}
.header-content .e-menu-arrow{display: none !important;}
.e-menu.e-context .e-mhover, .e-menu.e-horizontal .e-mhover>.e-menulink, .e-menu.e-context .e-mhover>.e-menulink, .e-menu.e-vertical .e-mhover>.e-menulink, .e-menu.e-horizontal .e-mfocused, .e-menu.e-context .e-mfocused, .e-menu.e-vertical .e-mfocused, .e-menu.e-horizontal .e-mfocused>.e-menulink, .e-menu.e-context .e-mfocused>.e-menulink, .e-menu.e-vertical .e-mfocused>.e-menulink, .e-menu-res-wrap .e-menu-res-in-wrap .e-icon.e-check-wrap:hover{background: transparent !important;}
.header-content .out-icon {
	font-size: 28px;
	padding: 5px 0px 10px 0px !important;
}
.header-content .e-btn {
	color: #fff !important;
	display: inline-block;
    font-family: FontAwesome !important;
    font-size: 28px !important;
    background: transparent !important;
    border: 0px !important;
	padding-top: 0px !important;
    box-shadow: none !important;
}
.header-content .e-header, .header-content .e-dialog>.e-dialog-scroller{
    border: 0px !important;
}
.e-close:before {
    content: "\f00d" !important;
    font-family: FontAwesome !important;
    font-style: normal !important;
    font-weight: normal !important;
	color: #333 !important;
	font-size: 18px !important;
}
.e-dialog .e-dialog-icon:hover {
    background: transparent !important;
}

.e-dialog>.e-header{
	border: 0px !important;
    border-bottom: 0px !important;
	padding: 0px 0px 5px 0px !important;
}
.e-dialog>.e-dialog-scroller{border: 0px !important;}
.e-dialog>.e-header {
    background: #fff !important;
}

