textarea {
    overflow: auto;
}
[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto;
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.mui-checkbox, .mui-radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mui-checkbox>label, .mui-radio>label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.mui-checkbox input:disabled, .mui-radio input:disabled {
    cursor: not-allowed;
}
.mui-checkbox input:focus, .mui-radio input:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.mui-checkbox--inline>label>input[type=checkbox], .mui-checkbox>label>input[type=checkbox], .mui-radio--inline>label>input[type=radio], .mui-radio>label>input[type=radio] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px;
}
.mui-checkbox+.mui-checkbox, .mui-radio+.mui-radio {
    margin-top: -5px;
}
.mui-checkbox--inline, .mui-radio--inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}
.mui-checkbox--inline>input[type=checkbox], .mui-checkbox--inline>input[type=radio], .mui-checkbox--inline>label>input[type=checkbox], .mui-checkbox--inline>label>input[type=radio], .mui-radio--inline>input[type=checkbox], .mui-radio--inline>input[type=radio], .mui-radio--inline>label>input[type=checkbox], .mui-radio--inline>label>input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}
.mui-checkbox--inline+.mui-checkbox--inline, .mui-radio--inline+.mui-radio--inline {
    margin-top: 0;
    margin-left: 10px;
}

.mui-dropdown {
    display: inline-block;
    position: relative;
}
[data-mui-toggle=dropdown] {
    outline: 0;
}
.mui-dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #FFF;
    border-radius: 2px;
    z-index: 1;
    background-clip: padding-box;
}
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
    .mui-dropdown__menu {
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-left: 1px solid rgba(0, 0, 0, .12);
}
}@supports (-ms-ime-align:auto) {
    .mui-dropdown__menu {
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-left: 1px solid rgba(0, 0, 0, .12);
}
}.mui-dropdown__menu.mui--is-open {
    display: block;
}
.mui-dropdown__menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.429;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    white-space: nowrap;
}
.mui-dropdown__menu>li>a:focus, .mui-dropdown__menu>li>a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
    background-color: #EEE;
}
.mui-dropdown__menu>.mui--is-disabled>a, .mui-dropdown__menu>.mui--is-disabled>a:focus, .mui-dropdown__menu>.mui--is-disabled>a:hover {
    color: #EEE;
}
.mui-dropdown__menu>.mui--is-disabled>a:focus, .mui-dropdown__menu>.mui--is-disabled>a:hover {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    cursor: not-allowed;
}
.mui-dropdown__menu--right {
    left: auto;
    right: 0;
}
.mui-form legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 21px;
    color: rgba(0, 0, 0, .87);
    line-height: inherit;
    border: 0;
}
.mui-form fieldset {
    border: 0;
    padding: 0;
    margin: 0 0 20px 0;
}
@media (min-width:544px) {
    .mui-form--inline .mui-textfield {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
}
.mui-form--inline .mui-checkbox, .mui-form--inline .mui-radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
.mui-form--inline .mui-checkbox>label, .mui-form--inline .mui-radio>label {
    padding-left: 0;
}
.mui-form--inline .mui-checkbox>label>input[type=checkbox], .mui-form--inline .mui-radio>label>input[type=radio] {
    position: relative;
    margin-left: 0;
}
.mui-form--inline .mui-select {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
}
.mui-form--inline .mui-btn {
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: bottom;
}
}.mui-select {
    display: block;
    padding-top: 15px;
    margin-bottom: 20px;
    position: relative;
}
.mui-select:focus {
    outline: 0;
}
.mui-select:focus>select {
    height: 33px;
    margin-bottom: -1px;
    border-color: #2196F3;
    border-width: 2px;
}
.mui-select>select {
    display: block;
    height: 32px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .26);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
    color: rgba(0, 0, 0, .87);
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    padding: 0 25px 0 0;
}
.mui-select>select::-ms-expand {
    display: none;
}
.mui-select>select:focus {
    outline: 0;
    height: 33px;
    margin-bottom: -1px;
    border-color: #2196F3;
    border-width: 2px;
}
.mui-select>select:disabled {
    color: rgba(0, 0, 0, .38);
    cursor: not-allowed;
    background-color: transparent;
    opacity: 1;
}
.mui-select>select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.mui-select>select:focus::-ms-value {
    background: 0 0;
    color: rgba(0, 0, 0, .87);
}
.mui-select>label {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mui-select:focus>label, .mui-select>select:focus~label {
    color: #2196F3;
}
.mui-select__menu {
    position: absolute;
    z-index: 2;
    min-width: 100%;
    overflow-y: auto;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FFF;
    font-size: 16px;
}
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
    .mui-select__menu {
    border-left: 1px solid rgba(0, 0, 0, .12);
    border-top: 1px solid rgba(0, 0, 0, .12);
}
}@supports (-ms-ime-align:auto) {
    .mui-select__menu {
    border-left: 1px solid rgba(0, 0, 0, .12);
    border-top: 1px solid rgba(0, 0, 0, .12);
}
}.mui-select__menu>div {
    padding: 0 22px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    white-space: nowrap;
}
.mui-select__menu>div.mui--is-selected {
    background-color: #EEE;
}
.mui-select__menu>div.mui--is-disabled {
    color: rgba(0, 0, 0, .38);
    cursor: not-allowed;
}
.mui-select__menu>div:not(.mui-optgroup__label):not(.mui--is-disabled):hover {
    background-color: #E0E0E0;
}
.mui-optgroup__option {
    text-indent: 1em;
}
.mui-optgroup__label {
    color: rgba(0, 0, 0, .54);
    font-size: .9em;
}

.mui-textfield {
    display: block;
    padding-top: 15px;
    margin-bottom: 30px;
    position: relative;
}
.mui-textfield>label {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mui-textfield>textarea {
    padding-top: 5px;
}
.mui-textfield>input:focus~label, .mui-textfield>textarea:focus~label {
    color: rgba(83, 178, 226, 1);
}
.mui-textfield--float-label>label {
    position: absolute;
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, .26);
    text-overflow: clip;
    cursor: text;
    pointer-events: none;
}
.mui-textfield--float-label>input:focus~label, .mui-textfield--float-label>textarea:focus~label {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
}
.mui-textfield--float-label>input:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus).mui--is-not-empty~label, .mui-textfield--float-label>textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield--float-label>textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label {
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    line-height: 15px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    text-overflow: ellipsis;
}
.mui-textfield--wrap-label {
    display: table;
    width: 100%;
    padding-top: 0;
}
.mui-textfield--wrap-label:not(.mui-textfield--float-label)>label {
    display: table-header-group;
    position: static;
    white-space: normal;
    overflow-x: visible;
}
.mui-textfield>input, .mui-textfield>textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: rgba(0, 0, 0, .87);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    outline: 0;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
}
.mui-textfield>input:focus, .mui-textfield>textarea:focus {
    border-color: #2196F3;
    border-width: 2px;
}
.mui-textfield>input:-moz-read-only, .mui-textfield>input:disabled, .mui-textfield>textarea:-moz-read-only, .mui-textfield>textarea:disabled {
    cursor: not-allowed;
    background-color: transparent;
    opacity: 1;
}
.mui-textfield>input:disabled, .mui-textfield>input:read-only, .mui-textfield>textarea:disabled, .mui-textfield>textarea:read-only {
    cursor: not-allowed;
    background-color: transparent;
    opacity: 1;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.42);
}
.mui-textfield>input::-webkit-input-placeholder, .mui-textfield>textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .26);
    opacity: 1;
}
.mui-textfield>input:-ms-input-placeholder, .mui-textfield>textarea:-ms-input-placeholder {
    color: rgba(0, 0, 0, .26);
    opacity: 1;
}
.mui-textfield>input::-ms-input-placeholder, .mui-textfield>textarea::-ms-input-placeholder {
    color: rgba(0, 0, 0, .26);
    opacity: 1;
}
.mui-textfield>input::placeholder, .mui-textfield>textarea::placeholder {
    color: rgba(0, 0, 0, .26);
    opacity: 1;
}
.mui-textfield>input {
    height: 32px;
}
.mui-textfield>input:focus {
    height: 33px;
    margin-bottom: -1px;
}
.mui-textfield>textarea {
    min-height: 64px;
}
.mui-textfield>textarea[rows]:not([rows="2"]):focus {
    margin-bottom: -1px;
}
.mui-textfield>input:focus {
    height: 33px;
    margin-bottom: -1px;
}
.mui-textfield>input:invalid:not(:focus):not(:required), .mui-textfield>input:invalid:not(:focus):required.mui--is-empty.mui--is-touched, .mui-textfield>input:invalid:not(:focus):required.mui--is-not-empty, .mui-textfield>input:invalid:not(:focus):required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty), .mui-textfield>input:invalid:not(:focus):required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty), .mui-textfield>input:not(:focus).mui--is-invalid:not(:required), .mui-textfield>input:not(:focus).mui--is-invalid:required.mui--is-empty.mui--is-touched, .mui-textfield>input:not(:focus).mui--is-invalid:required.mui--is-not-empty, .mui-textfield>input:not(:focus).mui--is-invalid:required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty), .mui-textfield>input:not(:focus).mui--is-invalid:required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty), .mui-textfield>textarea:invalid:not(:focus):not(:required), .mui-textfield>textarea:invalid:not(:focus):required.mui--is-empty.mui--is-touched, .mui-textfield>textarea:invalid:not(:focus):required.mui--is-not-empty, .mui-textfield>textarea:invalid:not(:focus):required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty), .mui-textfield>textarea:invalid:not(:focus):required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty), .mui-textfield>textarea:not(:focus).mui--is-invalid:not(:required), .mui-textfield>textarea:not(:focus).mui--is-invalid:required.mui--is-empty.mui--is-touched, .mui-textfield>textarea:not(:focus).mui--is-invalid:required.mui--is-not-empty, .mui-textfield>textarea:not(:focus).mui--is-invalid:required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty), .mui-textfield>textarea:not(:focus).mui--is-invalid:required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) {
    border-color: #F44336;
    border-width: 2px;
}
.mui-textfield>input:invalid:not(:focus):not(:required), .mui-textfield>input:invalid:not(:focus):required.mui--is-empty.mui--is-touched, .mui-textfield>input:invalid:not(:focus):required.mui--is-not-empty, .mui-textfield>input:invalid:not(:focus):required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty), .mui-textfield>input:invalid:not(:focus):required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty), .mui-textfield>input:not(:focus).mui--is-invalid:not(:required), .mui-textfield>input:not(:focus).mui--is-invalid:required.mui--is-empty.mui--is-touched, .mui-textfield>input:not(:focus).mui--is-invalid:required.mui--is-not-empty, .mui-textfield>input:not(:focus).mui--is-invalid:required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty), .mui-textfield>input:not(:focus).mui--is-invalid:required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) {
    height: 33px;
    margin-bottom: -1px;
}
.mui-textfield.mui-textfield--float-label>input:invalid:not(:focus):not(:required)~label, .mui-textfield.mui-textfield--float-label>input:invalid:not(:focus):required.mui--is-not-empty~label, .mui-textfield.mui-textfield--float-label>input:invalid:not(:focus):required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield.mui-textfield--float-label>input:invalid:not(:focus):required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield.mui-textfield--float-label>textarea:invalid:not(:focus):not(:required)~label, .mui-textfield.mui-textfield--float-label>textarea:invalid:not(:focus):required.mui--is-not-empty~label, .mui-textfield.mui-textfield--float-label>textarea:invalid:not(:focus):required:not(:empty):not(.mui--is-empty):not(.mui--is-not-empty)~label, .mui-textfield.mui-textfield--float-label>textarea:invalid:not(:focus):required[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty)~label {
    color: #F44336;
}
.mui-textfield:not(.mui-textfield--float-label)>input:invalid:not(:focus):not(:required)~label, .mui-textfield:not(.mui-textfield--float-label)>input:invalid:not(:focus):required.mui--is-empty.mui--is-touched~label, .mui-textfield:not(.mui-textfield--float-label)>input:invalid:not(:focus):required.mui--is-not-empty~label, .mui-textfield:not(.mui-textfield--float-label)>textarea:invalid:not(:focus):not(:required)~label, .mui-textfield:not(.mui-textfield--float-label)>textarea:invalid:not(:focus):required.mui--is-empty.mui--is-touched~label, .mui-textfield:not(.mui-textfield--float-label)>textarea:invalid:not(:focus):required.mui--is-not-empty~label {
    color: #F44336;
}
.mui-textfield.mui-textfield--float-label>.mui--is-invalid.mui--is-not-empty:not(:focus)~label {
    color: #F44336;
}
.mui-textfield:not(.mui-textfield--float-label)>.mui--is-invalid:not(:focus)~label {
    color: #F44336;
}
.mui--no-transition {
    -webkit-transition: none!important;
    transition: none!important;
}
.mui--no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mui-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.mui--z1, .mui-dropdown__menu, .mui-select__menu {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}