.middle-row {
    margin-left: 13%;
}
.e-accordion .e-acrdn-item {
    background: rgba(233, 246, 254, 0.556862745098039) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(205, 221, 230, 1) !important;
}
.e-accordion{border: 0px !important;}
.e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-content {
    font-family: 'Roboto-Light', 'Roboto Light', 'Roboto' !important;
    font-weight: 200 !important;
    font-style: normal;
    font-size: 17px !important;
    color: #495F78 !important;
    text-align: left;
}
.e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header{
	background: #fff !important;
	border: 0px !important;
}
.e-accordion .e-acrdn-item.e-selected.e-select {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
	background: #fff !important;
}
.e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header {
    background: rgba(233, 246, 254, 0.556862745098039) !important;
}
.e-accordion .e-tgl-collapse-icon::before {
    content: "\f107" !important;
	font-family: FontAwesome !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: #53B2E2 !important;
    font-size: 28px !important;
}
.e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-content{
	font-family: Roboto-Regular, Roboto !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #495F78 !important;
}
.e-grid .e-groupdroparea{display: none !important;}
.e-grid .e-columnmenu{border: 0px !important;}
span.e-headertext {
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #666666;
    text-align: center;
    line-height: normal;
}
.e-grid .e-rowcell {
    font-size: 14px !important;
    line-height: normal !important;
    color: #666666 !important;
    font-family: 'Roboto-Regular', 'Roboto' !important;
    font-weight: 400 !important;
    font-style: normal;
	border: 0px !important;
    height: 46px;
}
.e-grid .e-rowcell a{
	text-decoration: underline !important;
}
.e-grid .e-pager {
    background-color: #fff !important;
}
.e-pager .e-parentmsgbar {
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: right;
}
.e-pager .e-currentitem, .e-pager .e-currentitem:hover {
    background: rgba(83, 178, 226, 1) !important;
}
.e-btn.e-primary {
    background-color: rgba(83, 178, 226, 1) !important;
}
.e-btn.e-flat, .e-btn.e-flat:hover{color: rgba(83, 178, 226, 1) !important;}
.e-accordion .e-acrdn-item .e-acrdn-panel .e-grid .e-content{ 
	padding:0px; 
} 
.e-dialog .e-dlg-content{
	overflow: hidden !important;
    font-family: 'Roboto-Regular', 'Roboto' !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #33495F !important;
    line-height: 24px !important;
    font-size: 16px !important;
}
.e-popup.e-popup-open.e-dialog {
    margin-top: 300px !important;
}
.e-dialog .e-dlg-header-content{padding: 0px !important;}
.e-dialog .e-icon-dlg-close::before {
    content: "\f00d" !important;
    font-family: FontAwesome !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: #333 !important;
    font-size: 18px !important;
    position: relative;
    top: 0;
}
.e-dialog .e-btn.e-dlg-closeicon-btn:hover, .e-dialog .e-btn.e-dlg-closeicon-btn:focus, .e-dialog .e-btn.e-dlg-closeicon-btn:active{background: transparent !important;}
.fa-trash-o:before {
    content: "\f1f8";
    font-family: FontAwesome !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 25px;
    color: #53B2E2;
    background: transparent;
    box-shadow: none;
}
i#deleteBtn {
    border: 0px !important;
    box-shadow: none !important;
    background: transparent !important;
    padding: 0px !important;
}
.e-btn.e-flat:hover, .e-btn.e-flat:focus {
    background-color: transparent !important;
}
.ellipsis-menu {
    left: 15px;
    float: right;
    right: -16px;
    margin: 40px 0px 0px;
    border: 0px !important;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.ellipsis-menu>li>a{
	font-size: 14px;
    color: #53B2E2;
	font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
}
.ellipsis-menu>li>a:focus, .ellipsis-menu>li>a:hover {
    background: transparent !important;
	color: #53B2E2;
	text-decoration: underline;
}
.e-grid{border: 0px !important;}
.e-grid .e-gridheader, .e-grid .e-gridcontent{border: 1px solid rgba(204, 204, 204, 1) !important;}