@import '../colour-palette.scss';

$input-control: $color-primary;

.e-bigger .e-float-input.e-control-wrapper.e-small:not(.e-error) input:focus~label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper.e-small:not(.e-error) textarea:focus~label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper:not(.e-error) input:focus~label.e-float-text,
.e-bigger .e-float-input.e-control-wrapper:not(.e-error) textarea:focus~label.e-float-text,
.e-bigger .e-float-input.e-small:not(.e-error) input:focus~label.e-float-text,
.e-bigger .e-float-input.e-small:not(.e-error) textarea:focus~label.e-float-text,
.e-bigger .e-float-input:not(.e-error) input:focus~label.e-float-text,
.e-bigger .e-float-input:not(.e-error) textarea:focus~label.e-float-text,
.e-float-input.e-bigger:not(.e-error) input:focus~label.e-float-text,
.e-float-input.e-bigger:not(.e-error) textarea:focus~label.e-float-text,
.e-float-input.e-control-wrapper.e-bigger:not(.e-error) input:focus~label.e-float-text,
.e-float-input.e-control-wrapper.e-bigger:not(.e-error) textarea:focus~label.e-float-text,
.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) input:focus~label.e-float-text,
.e-float-input.e-control-wrapper.e-small.e-bigger:not(.e-error) textarea:focus~label.e-float-text,
.e-float-input.e-control-wrapper.e-small:not(.e-error) input:focus~label.e-float-text,
.e-float-input.e-control-wrapper.e-small:not(.e-error) textarea:focus~label.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error) input:focus~label.e-float-text,
.e-float-input.e-control-wrapper:not(.e-error) textarea:focus~label.e-float-text,
.e-float-input.e-small.e-bigger:not(.e-error) input:focus~label.e-float-text,
.e-float-input.e-small.e-bigger:not(.e-error) textarea:focus~label.e-float-text,
.e-float-input.e-small:not(.e-error) input:focus~label.e-float-text,
.e-float-input.e-small:not(.e-error) textarea:focus~label.e-float-text,
.e-float-input:not(.e-error) input:focus~label.e-float-text,
.e-float-input:not(.e-error) textarea:focus~label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error) input:focus~label.e-float-text,
.e-small .e-float-input.e-control-wrapper:not(.e-error) textarea:focus~label.e-float-text,
.e-small .e-float-input:not(.e-error) input:focus~label.e-float-text,
.e-small .e-float-input:not(.e-error) textarea:focus~label.e-float-text {
  color: $input-control !important;
}

.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after,
.e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before {
  background: $input-control;
}

.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after,
.e-float-input.e-control-wrapper.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before,
.e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::after,
.e-float-input.e-control-wrapper.e-input-group:not(.e-float-icon-left) .e-float-line::before,
.e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::after,
.e-float-input.e-input-group.e-float-icon-left .e-input-in-wrap .e-float-line::before,
.e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::after,
.e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::before {
  background: $input-control;
}

.e-btn.e-primary,
.e-checkbox-wrapper .e-frame.e-check,
.e-pager .e-currentitem {
  background-color: $input-control;
}

.e-pager .e-currentitem:hover {
  background-color: $color-primary-dark;
}

.e-float-input input.e-disabled,
.e-float-input input[disabled],
.e-float-input.e-control-wrapper input.e-disabled,
.e-float-input.e-control-wrapper input[disabled] {
  cursor: default;
}

.date .e-error .e-input-focus,
.date .e-error ejs-datepicker {
  border-color: $color-error !important;
}

.e-error label {
  color: $color-error !important;
}

.e-error .e-float-input.e-control-wrapper:not(.e-error) input:focus ~ label.e-float-text {
  color: $color-error !important;
}

.e-error .e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::after,
.e-error .e-float-input.e-input-group:not(.e-float-icon-left) .e-float-line::before {
  background: $color-error !important;
}

.e-error .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left) {
  border-color: $color-error !important;
}

.e-float-input input::selection,
.e-float-input.e-control-wrapper input::selection,
.e-input-group input.e-input::selection,
.e-input-group.e-control-wrapper input.e-input::selection,
input.e-input.e-css::selection,
input.e-input::selection,
textarea.e-input.e-css::selection,
textarea.e-input::selection {
  background: $color-primary;
}

.e-float-input:hover .e-input {
  border-bottom-width: 0 !important;
}

.e-list-item.e-active,
.e-list-item.e-active.e-hover {
  color: $color-primary !important;
}

.e-time-wrapper .e-input-group-icon.e-icons.e-active {
  color: $color-primary !important;
}

.e-time-wrapper.e-input-group:not(.e-disabled) .e-input-group-icon.e-active:active {
  color: $color-primary !important;
}

.e-input-focus .e-float-text {
  color: $color-primary;
}
