<!-- <div *ngIf="group">
  <div [formGroup]="group" class="control-section">
    <div class="col-lg-8  content-wrapper" style="height: 350px">
      <div style="margin: 0 auto; width:250px; padding-top: 30px">
        <ej-combobox id='games' [dataSource]='dataSource' [formControlName]="name" [fields]='fields' [value]='value' [placeholder]='waterMark'
          [popupHeight]='height' [width]='width'[class.required]="required"></ej-combobox>
      </div>
    </div>
  </div>
</div> -->
<!-- <ej-combobox id='games' #sample [dataSource]='sportsData' (change)='onChange($event)' [fields]='fields' [(value)]='value' [placeholder]='waterMark' [popupHeight]='height'></ej-combobox> -->
<div class="py-2">
    <div [formGroup]="group" class="e-float-input"
    [class.e-error]="!group.controls[name].valid && group.controls[name].touched">
    <ej-combobox id='games' [dataSource]='dataSource' floatLabelType='Auto' [formControlName]="name" [fields]='fields' [value]='value' [placeholder]='waterMark'
      [popupHeight]='height' [width]='width' [class.required]="required" [sortOrder]='sort'></ej-combobox>
  </div>
</div>
