@import '../../colour-palette.scss';
@import '../../dimensions.scss';

$footer-bg-color: $color-primary-dark2;
$text-color: $light-text;

footer {
  width: 100%;
  position: absolute;
  padding: 10px;
	background-color: $footer-bg-color;
  height: $footer-height;
  color: $text-color;
  z-index: 1500;

  .copyright-message {
    font-size: 12px;
    text-align: right;
    line-height: 19px;
	  font-style: italic;
  }
}
