<div class="py-2">
    <div
    class="e-float-input e-input-group"
    [class.e-error]="!control.valid && control.touched"
    [class.e-input-focus]="inputFocus"
    [formGroup]="group">
    <input
      type="text"
      [class.required]="required"
      [formControlName]="name"
      (focus)="focusIn()"
      (blur)="focusOut()"
      (keydown)="inputKeyDownFunction($event)" />
    <span class="e-float-line"></span>
    <label
      class="e-float-text"
      [class.e-label-bottom]="labelBottom"
      [class.e-label-top]="labelTop"
      [ngClass]="{'label-with-action-button': actionIcon }">
      {{getLabel()}}
    </label>
    <span *ngIf="allowClear" class="e-clear-icon" tabindex="0" (click)="clear()" (keydown)="clearKeyDownFunction($event)"></span>
    <span *ngIf="actionIcon" class="action-icon fa" [ngClass]="actionIcon" tabindex="0" (click)="onClick()" (keydown)="actionKeyDownFunction($event)"></span>
  </div>
  <cco-control-validation
    [group]="group"
    [control]="control"
    [controlName]="name"
    [validationMessages]="validationMessages" >
  </cco-control-validation>
</div>
