<div class="py-2" *ngIf="group">
  <div [formGroup]="group" #autocomplete [class.e-error]="hasError()" >
    <ejs-autocomplete [formControlName]="name" [dataSource]="dataSource" [fields]="fields" [placeholder]="getLabel()" [showClearButton]="allowClear"
      [sortOrder]="sortOrder" [enabled]="enabled" [popupHeight]="height" [floatLabelType]="'Auto'" [autofill]="true" [highlight]="highlight"
      [query]='query' (filtering)="onFiltering($event)">
      <div *ngIf="itemTemplate">
        <ng-template #itemTemplate="" let-data="">
          <div [innerHTML]="getItemTemplate(data)"></div>
        </ng-template>
      </div>
      <div *ngIf="headerTemplate">
        <ng-template #headerTemplate="">
          <div [innerHTML]="getHeaderTemplate()"></div>
        </ng-template>
      </div>
      <div *ngIf="noRecordsTemplate">
        <ng-template #noRecordsTemplate="">
          <div [innerHTML]="getNoRecordsTemplate()"></div>
        </ng-template>
      </div>
    </ejs-autocomplete>
    <cco-control-validation [group]="group" [control]="control" [controlName]="name" [validationMessages]="validationMessages">
    </cco-control-validation>
  </div>
</div>
