@import "../../colour-palette.scss";

div {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.info-banner {
  background-color: $color-info;
  color: $light-text;
}

.success-banner {
  background-color: $color-success;
  color: $light-text;
}

.warning-banner {
  background-color: $color-warning;
  color: $light-text;
}

.error-banner {
  background-color: $color-error;
  color: $light-text;
}
