@import "../../../colour-palette.scss";
@import "../../../dimensions.scss";

$sub-item-hover-bg-color: $color-primary-dark;

.menu-child {
  overflow-x: hidden;

  i {
    font-size: 21px;
    display: inline-block;
    text-align: center;
    width: $menu-width;
    padding: 5px 0;
  }

  span {
    overflow-x: hidden;
  }

  ul {
    padding: 5px 10px;
    left: $menu-width;
    top: 1px;
    border: 0px;
  }

  .menu-child-item {
    padding: 5px;
  }

  .menu-child-item:hover {
    background-color: $sub-item-hover-bg-color;
  }

  .menu-child-label {
    font-size: 16px;
    display: inline;
  }

  .menu-child-children {
    display: none;
  }

  .menu-child-expand {
    position: absolute;
    right: 0;
  }

  .show {
    display: block;
  }
}

@include screen-size-and-smaller(sm) {
  ul {
    width: 100%;
  }
}
@include screen-size-and-larger(md) {
  ul {
    width: $flyout-width;
  }
}
