<div class="py-2" *ngIf="group">
  <div [formGroup]="group" #combobox [class.e-error]="hasError()">
      <ejs-combobox id='games' [dataSource]='dataSource' floatLabelType='Auto' [formControlName]="name" [fields]='fields' [value]='value' [placeholder]='getLabel()'
      [popupHeight]='height' [width]='width' [sortOrder]='sorting' [autofill]="true" [allowFiltering]='true' (filtering)='onFiltering($event)' allowCustom=true>
      <div *ngIf="itemTemplate">
        <ng-template #itemTemplate="" let-data="">
          <div [innerHTML]="getItemTemplate(data)"></div>
        </ng-template>
      </div>
      <div *ngIf="headerTemplate">
        <ng-template #headerTemplate="">
          <div [innerHTML]="getHeaderTemplate()"></div>
        </ng-template>
      </div>
      <div *ngIf="noRecordsTemplate">
        <ng-template #noRecordsTemplate>
          <div [innerHTML]="getNoRecordsTemplate()"></div>
        </ng-template>
      </div>
  </ejs-combobox>
    </div>
    <cco-control-validation [group]="group" [control]="control" [controlName]="name" [validationMessages]="validationMessages">
    </cco-control-validation>
  </div>
  <!-- {{group.controls.combo.value}} -->
