@import "../../../colour-palette.scss";
@import "../../../dimensions.scss";

$text-color: $light-text;
$flyout-bg-color: $color-primary;

a {
  color: $text-color;
  text-decoration: none;
}

i {
  color: $text-color;
  font-size: 27px;
  text-align: center;
  width: $menu-width;
  padding: 5px 0;
}

span {
  overflow-x: hidden;
}

cco-navigation-menu-flyout {
  display: none;
  overflow-y: auto;
  background: $flyout-bg-color;
  z-index: 50;
}

.active {
  background: $flyout-bg-color;
}

@include screen-size-and-smaller(sm) {
  .menu-item {
    width: 100%;
  }

  .show {
    display: block;
  }

  .menu-label {
    display: inline;
  }

  .menu-expand {
    position: absolute;
    right: 0;
  }

  i {
    display: inline-block;
    font-size: 21px;
  }
}

@include screen-size-and-larger(md) {
  .menu-label, .menu-expand {
    display: none;
  }

  i {
    display: block;
  }

  cco-navigation-menu-flyout {
    position: fixed;
    left: $menu-width;
    top: 0;
    min-height: calc(100% - #{$header-height} - #{$footer-height});
    max-height: calc(100% - #{$header-height} - #{$footer-height});
    margin-top: $header-height;
  }

  .menu-item:hover cco-navigation-menu-flyout {
    display: block;
  }
}
