$color-primary: rgb(83, 178, 226);
$color-primary-dark: rgb(15, 109, 150);
$color-primary-dark2: rgb(39, 65, 86);
$color-primary-light: rgb(249, 249, 249);
$color-primary-light2: rgb(228, 228, 228);

$color-secondary: rgb(89, 107, 130);

$light-text: white;
$dark-text: black;

$color-info: #5BC2F4;
$color-success: #33CC99;
$color-warning: #ED982A;
$color-error: #DA4B22;

// bootstrap override
$theme-colors: (
"error": $color-error,
"info": $color-info,
"success": $color-success,
"warning": $color-warning
);
