@import "../../node_modules/bootstrap/scss/bootstrap";

$header-height: 60px;
$breadcrumb-height: 40px;
$footer-height: 110px;
$title-height: 50px;
$title-extra-height: 30px;

$router-outlet-padding-top: $breadcrumb-height + $title-height;

$menu-width: 60px;
$flyout-width: 275px;

@mixin screen-size-and-smaller($screen-size) {
  @include media-breakpoint-down($screen-size) {
    @content;
  }
}

@mixin screen-size-and-larger($screen-size) {
  @include media-breakpoint-up($screen-size) {
    @content;
  }
}
