@import "../../colour-palette.scss";
@import "../../dimensions.scss";

$text-color: $light-text;

.cco-breadcrumb {
  width: 100%;
  min-height: $breadcrumb-height;
  max-height: $breadcrumb-height;
  background-color: $color-primary;
  position: fixed;
  top: $header-height;
  border-radius: 0;
  z-index: 5;

  @include screen-size-and-larger(md) {
    left: $menu-width;
    padding-right: $menu-width;
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;

    li {
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      color: $text-color;
      line-height: 12px;
      display: inline-block;
      margin-right: 5px;

      a {
        font-size: 13px;
        text-decoration: none;
        color: $text-color;
        cursor: pointer;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
