<div class="cco-breadcrumb">
  <div class="row">
    <div class="col">
     <ul class="p-2">
        <ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs">
          <li class="active" *ngIf="breadcrumb.isActive; else inactive">{{breadcrumb.label}}</li>
          <ng-template #inactive>
            <li *ngIf="breadcrumb.isClickable; else notClickable">
              <a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{breadcrumb.label}}</a>
            </li>
            <ng-template #notClickable>
              <li>{{breadcrumb.label}}</li>
            </ng-template>
            <li>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </li>
          </ng-template>
        </ng-template>
      </ul>
    </div>
  </div>
</div>
